body{
  overflow-y:hidden;
  overflow-x:hidden;
}

object{
  width: 100%;
  height: 700px;
  overflow-y:hidden;
}

#salir{
    position: fixed;
    display: block;
    right: 0;
    bottom: 40;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
    background:cyan;

}

#guardar_item{
  margin: 20px auto 0;
}
#modal{
    margin: 20px auto 0;
}

#modal{
border-radius:4px;
background: red;
width: 300px;
height: 700px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
}

#contenido_modal{
  padding-top: 0px;
  padding-bottom: : 0px;
}

#sample4, #sample2, #sample3, #sample1, #sample5{
  padding: 7px 0;
}

#title_modal{
  border-top: 15px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 30px;
  font-size: 25px;
}


.page-content {
padding : 0 32px;
}

.mdl-textfield {
  color: #9E9E9E;
}

.mdl-textfield__icon {
  width: 32px;
  text-align: center;
  position: absolute;
  line-height: 1.5;
}

.mdl-textfield.is-disabled .mdl-textfield__icon {
  color: rgba(0, 0, 0, 0.26) !important;
}

.mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded{
  padding: 20px 0 0 0;
}

.mdl-textfield__icon ~ * {
  margin-left: 48px;
  width: calc(100% - 48px);
}

.mdl-textfield.is-invalid .mdl-textfield__icon {
  color: #de3226 !important;
}
