
table{
  font-family: 'roboto', sans-serif;
      /*width: 460px;*/
      margin: 100px auto 0;
      box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
      padding: 0 0 40px;
      border-radius: 3px;
      color: #555;
      /*display:block;*/
}

.opciones_new_edit_del{
  background: #F5F5F5;
  padding-top: 10px;
}

/*********css modal Registar Item*/
.mdl-dialog__title{
  background:E0E0E0;
  border-radius: 3px;
  padding-bottom: : 100px;

}
.mdl-dialog{
border-radius: 15px;
}
