

.opciones_new_edit_del{
  background: #F5F5F5;
  padding-top: 10px;
}

/*********css modal Registar Item*/

#modal{
border-radius: 15px;
background: red;
width: 300px;
height: 500px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
}

#contenido_modal{
  padding-top: 0px;
  padding-bottom: : 0px;
}

#sample4, #sample2, #sample3, #sample1, #sample5{
  padding: 7px 0;

}

#title_modal{
  border-top: 15px;
  height: 30px;

  font-size: 25px;
}
