.checkbox-blue[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #283593 ;
     background-color: #283593 ;
     vertical-align: middle;

}

.label-vertical-align {
  vertical-align:middle;
}
