.mdl-layout {
	align-items: center;
  justify-content: center;
}

.mdl-layout__content {
	padding: 150px;
	flex: none;
}
/*
.mdl-layout, .mdl-js-layout{
	background-image: url("../images/verde.png");
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
*/
