<!--
Generated template for the InventarioPage page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<nav class="light-blue darken-4" >
  <div class="nav-wrapper navbar-fixed" >
    <a href="#" (click)="openMenu()"data-activates="nav-mobile" class="button-collapse show-on-large left"><i class="material-icons left">menu</i></a>
    <a href="#!" class="brand-logo">{{title}}</a>
  </div>
</nav>

<!--Tabla de ínventario-->
<ion-content>
  <div *ngIf="template=='null'">
    <!--Búsqueda por codigo o nombre
    <div class="row">
    <div class="col l1 m2 s4 offset-l9 offset-m7 " >
    <div class="input-field">
    <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="busqueda.tipoB">
    <option *ngFor="let tiposBusqueda of tiposBusquedas" [value]="tiposBusqueda" >{{tiposBusqueda}}</option>
  </select>
</div>
</div>
<div class="col l2 m3 s8">
<div class="input-field">
<input (keyup)="buscar()" type="text" id="identificacion"  [(ngModel)]="busqueda.valor">
<label class="black-text active" for="identificacion">Búsqueda</label>
</div>
</div>
</div>-->
<!--Tabla de inventario-->
<table  materialize class="centered table centered striped" style="font-size: 15px">
  <thead>
    <tr>
      <th data-field="fecha">Fecha</th>
      <th data-field="descripcion">Descripción</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let movimiento of movimientos">
      <td >{{movimiento.Fecha}}</td>
      <td>{{movimiento.Descripcion}}</td>
      <td>
        <a (click)="goVerMovimiento(movimiento)" class="button-collapse "><i style="cursor: pointer" class="material-icons left">description</i></a>
      </td>
    </tr>
  </table>
</div>
</ion-content>



<!--Boton flotante para ingresar en el inventario-->
<div *ngIf="template=='null'">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a (click)="goIngresarMovimiento()" class="btn-floating btn-large waves-effect waves-light teal">
      <i class="material-icons">archive</i>
    </a>
  </div>
</div>


<!--layout de ingreso de movimiento a inventario-->
<div *ngIf="template=='ingresar_movimiento'" style="overflow: scroll;">
  <div id="ingreso_movimiento" class="section" >
    <div >
      <!--primer panel-->
      <div class="row">
        <div class="col l4 m5 s12">
          <div class="card-panel blue-grey lighten-5 ">
            <span class="card-title">Movimiento de Inventario</span>
            <p class="center">
              <input class="with-gap" name="group1" type="radio" id="test1" checked="checked" (click)="goIngreso()"/>
              <label for="test1">Ingreso</label>
              <input class="with-gap" name="group1" type="radio" id="test2" (click)="goSalida()" />
              <label for="test2">Salida</label>
            </p>
            <!--<div style="padding-top: 7px"></div>-->
            <!--Cabecera de movimiento-->
            <div class="row" >
              <div class="col s12 m12 l12" *ngIf="templateMovimiento=='ingreso_inventario'">
                <div class="input-field">
                  <i class="material-icons prefix" style="color:#009688">account_box</i>
                  <input id="personaLista" type="text" class="validate filter-input" [(ngModel)]=descripcionProveedor (keyup)=buscarProveedor()>
                  <label for="personaLista" data-error="Corrija Persona">Persona</label>
                  <ul class="dropdown-content active"  style="opacity: 1; display: block;">
                    <li *ngFor="let persona of listaFiltradaProveedor">
                      <a (click)="seleccionarProveedor(persona)">{{persona.Nombre}} {{persona.Apellido}} </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col s12 m12 l12" >
                <div class="input-field">
                  <i class="material-icons prefix" style="color:#009688">keyboard_arrow_right</i>
                  <input id="icon_codigo" type="text" class="validate" [(ngModel)]="movimientoNuevo.Acta" >
                  <label for="icon_codigo" data-error="Acta Incorrecta">No. Acta de Entrega/Recepción</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix" style="color:#009688">keyboard_arrow_right</i>
                  <input   materialize="pickadate" [materializeParams]="[{format: 'yyyy-mm-dd',selectMonths: true, selectYears: 15}]" id="today" type="date" style="padding-top: 14px" [(ngModel)]="movimientoNuevo.Fecha" >
                  <label for="fecha" class="active" data-error="Fecha no elegida o Incorrecta">Fecha</label>
                  <script> new Datepicker('.datepicker');</script>
                </div>
                <div class="input-field ">
                  <i class="material-icons prefix" style="color:#009688">keyboard_arrow_right</i>
                  <textarea id="icon_descripcion" class="materialize-textarea validate" minlength="5" maxlength="160"  pattern = "[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9\s ]*" [(ngModel)]="movimientoNuevo.Descripcion" ></textarea>
                  <label  for="icon_descripcion" data-error="Descripción vacía o Incompleta">Descripción</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--segundo panel-->
        <div class="col l8 m7 s12">
          <div class="card-panel blue-grey lighten-5 ">
            <span class="card-title">Detalle del movimiento</span>
            <div style="padding-top: 5%;"></div>
            <p class="center">
              <input class="with-gap" name="group2" type="radio" id="item" checked="checked" (click)="goEsItem()"/>
              <label for="item">Buscar ítem</label>
              <input class="with-gap" name="group2" type="radio" id="kit" (click)="goEsKit()" />
              <label for="kit">Buscar kit</label>
            </p>
            <div class="row">
              <div class="col l6 m6 s12">
                <div class="input-field">
                  <i class="material-icons prefix" style="color:#009688">search</i>
                  <input id="itemLista" type="text" class="validate filter-input" [(ngModel)]=descripcionItem (keyup)=buscarItem() >
                  <label for="itemLista">Busqueda</label>
                  <ul class="dropdown-content active"  style="opacity: 1; display: block;">
                    <li *ngFor="let item of listaFiltradaItem">
                      <a (click)="seleccionarItem(item)">{{item.Codigo}} - {{item.Nombre}}</a>
                    </li>
                  </ul>
                  <ul class="dropdown-content active"  style="opacity: 1; display: block;">
                    <li *ngFor="let kit of listaFiltradaKit">
                      <a (click)="seleccionarKit(kit)">{{kit.Codigo}} - {{kit.Nombre}}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col l2 m2 s4 ">
                <div class="input-field">
                  <input id="itemStock" type="text" class="validate filter-input  center" [(ngModel)]=itemNuevo.Stock disabled="true">
                  <label for="itemStock" class="active">Stock</label>
                </div>
              </div>
              <div class="col l2 m2 s4 offset-s1">
                <div class="input-field" >
                  <input id="itemCant" type="text" class="validate filter-input  center" [(ngModel)]=cantidad minlength="1" maxlength="4" pattern = "[0-9]*" >
                  <label for="itemCant" class="active">Cantidad</label>
                </div>
              </div>
              <div class="col l1 m2 s2 offset-s1 ">
                <div class="input-field">
                  <a (click)="agregarItem()" class="btn-floating btn-small waves-effect waves-light green right">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
            </div>
            <!--lista-->
            <div class="divider"></div>
            <div class="row" style="color:#424242; font-size: 60%">
              <div class="col l6 m6 s4 ">
                <h6 class="center">Ítem</h6>
              </div>
              <div class="col l2 m2 s4 ">
                <h6 class="center">Cantidad</h6>
              </div>
              <div class="col l2 m2 s4">
                <h6 class="center">Detalle</h6>
              </div>
            </div>

            <div *ngFor = "let movimiento_det of listaMovimientoDet">
              <div class="divider"></div>
              <div class="row">
                <ul>
                  <div class="col l6 m7 s5" style="color:#424242; font-size: 65%">
                    <li id="nombre">Nombre: {{movimiento_det.Item.Nombre}}</li>
                    <li id="codigo">Código: {{movimiento_det.Item.Codigo}}</li>
                    <li id="cantidad">Cant.: {{movimiento_det.Item.Stock}}</li>
                  </div>
                  <div *ngIf="movimiento_det.Item.Es_Dispositivo">
                    <div class="col l2 m2 s3">
                      <li>
                        <input id="cantidad" type="text" class="validate  center" minlength="1" maxlength="2" pattern = "[0-9]*"  [(ngModel)]="movimiento_det.Cantidad" disabled="true">
                      </li>
                    </div>
                    <div class="col l3 m3 s3">
                      <li>
                        <input id="serie" type="text" class="validate  center" minlength="1" maxlength="30"   [(ngModel)]="movimiento_det.Detalle" >
                      </li>
                    </div>
                    <div class="col l1 m2 s1">
                      <li>
                        <a (click)="eliminarMovimientoDet(movimiento_det)" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons ">clear</i> </a>
                      </li>
                    </div>
                  </div>
                  <div *ngIf="!movimiento_det.Item.Es_Dispositivo">
                    <div class="col l2 m2 s3">
                      <li>
                        <input id="cantidad" type="text" class="validate  center" minlength="1" maxlength="2" pattern = "[0-9]*"  [(ngModel)]="movimiento_det.Cantidad" >
                      </li>
                    </div>
                    <div class="col l3 m3 s3">
                      <li>
                        <input id="serie" type="text" class="validate  center" minlength="1" maxlength="30"   [(ngModel)]="movimiento_det.Detalle" disabled="true">
                      </li>
                    </div>
                    <div class="col l1 m2 s1">
                      <li>
                        <a (click)="eliminarMovimientoDet(movimiento_det)" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons ">clear</i> </a>
                      </li>
                    </div>
                  </div>
                </ul>
              </div>
            </div>

            <div class="card-action">
              <a (click)="crearMovimiento()" class="btn waves-effect waves-light center"  style="font-size: 17px">Guardar
                <i class="material-icons right">send</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
</div>

<!--layout de ver de movimiento a inventario-->
<div *ngIf="template=='ver_movimiento'" style="overflow: scroll;">
  <div id="ver_movimiento" class="section" >
    <div >
      <!--primer panel-->
      <div class="row">
        <div class="col l4 m4 s12">
          <div class="card-panel blue-grey lighten-5 ">
            <span class="card-title">Movimiento de Inventario</span>
            <p class="center">
              <label for="test2" >{{descripcionMovimiento}}</label>
            </p>
            <!--<div style="padding-top: 7px"></div>-->
            <!--Cabecera de movimiento-->
            <div class="row" >
              <div class="col s12 m12 l12" *ngIf="templateMovimiento=='ingreso_inventario'">
                <div class="row">
                  <div class="col l12 m12 s12">
                    <div class="input-field">
                      <i class="material-icons prefix" style="color:#009688">account_box</i>
                      <input id="personaLista" type="text" class="validate filter-input" [(ngModel)]=movimientoSeleccionado.Proveedor.Nombre disabled="true" >
                      <label for="personaLista" class="active">Persona</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12 m12 l12" >
                <div class="input-field">
                  <i class="material-icons prefix" style="color:#009688">keyboard_arrow_right</i>
                  <input id="icon_codigo" type="text" class="validate" minlength="10" maxlength="10"  [(ngModel)]="movimientoSeleccionado.Acta" disabled="true" >
                  <label for="icon_codigo" class="active">No. Acta de Entrega/Recepción</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix" style="color:#009688">keyboard_arrow_right</i>
                  <input  type="date" id="fecha"  [(ngModel)]="movimientoSeleccionado.Fecha" class="datepicker"  style="padding-top: 16px" disabled="true">
                  <label for="fecha" class="active" >Fecha</label>
                  <script> new Datepicker('.datepicker');</script>
                </div>
                <div class="input-field ">
                  <i class="material-icons prefix" style="color:#009688">keyboard_arrow_right</i>
                  <textarea id="icon_descripcion" class="materialize-textarea validate" [(ngModel)]="movimientoSeleccionado.Descripcion" disabled="true"></textarea>
                  <label  for="icon_descripcion" class="active">Descripción</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--segundo panel-->
        <div class="col l8 m8 s12">
          <div class="card-panel blue-grey lighten-5 ">
            <span class="card-title">Detalle del movimiento</span>
            <!--lista-->
            <div class="row" style="color:#424242; font-size: 60%">
              <div class="col l6 m7 s6">
                <h6 class="center">Ítem</h6>
              </div>
              <div class="col l2 m2 s3">
                <h6 class="center">Cantidad</h6>
              </div>
              <div class="col l4 m3 s3">
                <h6 class="center">Detalle</h6>
              </div>
            </div>

            <div *ngFor = "let movimiento_det of movimientoSeleccionado.IngresoEgreso">
              <div class="divider"></div>
              <div class="row">
                <ul>
                  <div class="col l6 m7 s6" style="color:#424242; font-size: 65%">
                    <li id="nombre">Nombre: {{movimiento_det.Item.Nombre}}</li>
                    <li id="codigo">Código: {{movimiento_det.Item.Codigo}}</li>
                  </div>
                  <div class="col l2 m2 s3">
                    <li>
                      <input id="cantidad" type="text" class="validate  center" minlength="1" maxlength="2" pattern = "[0-9]*"  [(ngModel)]="movimiento_det.Cantidad" disabled="true">
                    </li>
                  </div>
                  <div class="col l4 m3 s3">
                    <li>
                      <input id="serie" type="text" class="validate  center" minlength="1" maxlength="30"   [(ngModel)]="movimiento_det.Detalle"  disabled="true">
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
</div>
