<!--
Generated template for the InventarioPage page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<nav class="light-blue darken-4" >
  <div class="nav-wrapper navbar-fixed" >
    <a href="#" (click)="openMenu()"data-activates="nav-mobile" class="button-collapse show-on-large left"><i class="material-icons left">menu</i></a>
    <a href="#!" class="brand-logo">{{title}}</a>
  </div>
</nav>

<!--Tabla de ínventario-->
<ion-content>
  <div *ngIf="template=='null'">
    <!--Búsqueda por codigo o nombre
    <div class="row">
      <div class="col l1 m2 s4 offset-l9 offset-m7 " >
        <div class="input-field">
          <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="busqueda.tipoB">
            <option *ngFor="let tiposBusqueda of tiposBusquedas" [value]="tiposBusqueda" >{{tiposBusqueda}}</option>
          </select>
        </div>
      </div>
      <div class="col l2 m3 s8">
        <div class="input-field">
          <input (keyup)="buscar()" type="text" id="identificacion"  [(ngModel)]="busqueda.valor">
          <label class="black-text active" for="identificacion">Búsqueda</label>
        </div>
      </div>
    </div>-->
    <!--Tabla de inventario-->
    <table  materialize class="centered table centered striped" style="font-size: 15px">
      <thead>
        <tr>
          <th data-field="id">ID</th>
          <th data-field="fecha">Fecha</th>
          <th data-field="tipo">Tipo</th>
          <th data-field="descripcion">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let movimiento of movimientos">
          <td >{{movimiento.id}}</td>
          <td >{{movimiento.fecha}}</td>
          <td>{{movimiento.tipo_movimiento.nombre}}</td>
          <td>{{movimiento.observaciones}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>

<!--Boton flotante para ingresar en el inventario

<div *ngIf="template=='null'">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light teal">
      <i class="material-icons">archive</i>
    </a>
  </div>
</div>-->


  <!--boton para cancelar
  <div class="section">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>-->
