<!--
Generated template for the InventarioPage page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<nav class="light-blue darken-4" >
  <div class="nav-wrapper navbar-fixed" >
    <a href="#" (click)="openMenu()"data-activates="nav-mobile" class="button-collapse show-on-large left"><i class="material-icons left">menu</i></a>
    <a href="#!" class="brand-logo">{{title}}</a>
  </div>
</nav>

<!--Tabla de ínventario-->
<ion-content>
  <div *ngIf="template=='null'">

    <!--Boton de busqueda por codigo o nombre-->
    <div class="container row">
      <div class="col s12 m6 l6 offset-m3 offset-l3">
        <p class="center">
          <input class="with-gap" name="group1" type="radio" id="test1"  />
          <label for="test1"> Nombre</label>
          <input class="with-gap" name="group1" type="radio" id="test2" checked="checked"/>
          <label for="test2">Código</label>
        </p>
        </div>
        <div class="row">
          <div class="col s10 m2 l2 offset-l5 offset-m5">
            <div class=" input-field">
              <input id="buscar" type="text" class="center validate" >
            </div>
          </div>
          <div class="col s2 m4 l4" >
            <a class="btn-floating"><i class="material-icons">search</i></a>
          </div>
        </div>
    </div>

    <!--Tabla de inventario-->
    <table  materialize class="centered table centered striped" style="font-size: 15px">
      <thead>
        <tr>

          <th data-field="fecha">Fecha</th>
          <th data-field="id">Código</th>
          <th data-field="tipo">Tipo</th>
          <th data-field="tipo">Detalle</th>
          <th data-field="nombre">Nombre</th>
          <th data-field="marca">Marca</th>
          <th data-field="modelo">Modelo</th>
          <th data-field="descripcion">Estado</th>
          <th data-field="cantidad">Cantidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor = "let inventario of inventarios">
          <!--<td>
            <input  [checked]="false" (change)="select(inventario.id)" id="{{inventario.id}}" type="checkbox" class="filled-in"/>
            <label  attr.for="{{inventario.id}}"></label>
          </td>-->

          <td >{{inventario.fecha}}</td>
          <td >{{inventario.codigo}}</td>
          <td>{{inventario.tipo}}</td>
          <td>{{inventario.detalle}}</td>
          <td>{{inventario.nombre}}</td>
          <td>{{inventario.marca}}</td>
          <td>{{inventario.modelo}}</td>
          <td>{{inventario.estado}}</td>
          <td>{{inventario.cantidad}}</td>
          <td>
            <a (click)="goSalida(inventario.id)" class="button-collapse "><i class="material-icons left ">unarchive</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>


<!--Boton flotante para ingresar en el inventario-->
<div *ngIf="template=='null'">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a (click)="goIngresoInventario()" class="btn-floating btn-large waves-effect waves-light teal">
      <i class="material-icons">archive</i>
    </a>
  </div>
</div>


<!--layout de ingreso al inventario-->
<div *ngIf="template=='ingresar'" style="overflow: scroll;">
  <div id="ingreso_inventario" class="section" >
    <div class="container" style="padding-bottom: 60px">
      <div class="row">
        <!--<form class="col s12 m12 l12 ">-->
        <div class="card-panel hoverable card-action white">
          <div class="card-content black-text">
            <span class="card-title">Ingreso de Inventario</span>
            <div style="padding-top: 15px"></div>
            <div class="row">
              <div class="col s12 m6 l6">
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="inventarioNuevo.tipo">
                    <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
                  </select>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_codigo" type="text" class="validate" minlength="10" maxlength="10" pattern = "[0-9]*" [(ngModel)]="inventarioNuevo.codigo" >
                  <label for="icon_codigo">Código</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_descripcion" type="text" class="validate" minlength="5" maxlength="30" [(ngModel)]="inventarioNuevo.nombre">
                  <label for="icon_descripcion">Nombre</label>
                </div>
              </div>
              <div class="col s12 m6 l6">
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="inventarioNuevo.estado">
                    <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
                  </select>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_descripcion" type="text" class="validate" minlength="5" maxlength="30" >
                  <label for="icon_descripcion">Detalle</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_cantidad" type="tel" class="validate"  minlength="1" maxlength="2" pattern = "[0-9]*" [(ngModel)]="inventarioNuevo.cantidad">
                  <label for="icon_cantidad">Cantidad</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-action">
            <a  (click)="crear()" class="btn waves-effect waves-light center"  style="font-size: 17px">Aceptar
              <i class="material-icons right">send</i>
            </a>
          </div>
        </div>
        <!--</form>-->
      </div>
    </div>
  </div>
  <div class="section">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
</div>


<!--Boton flotante para ingresar en el inventario-->
<div *ngIf="template=='salida_inventario'" style="overflow: scroll;">
  <!--salida inventario-->
  <div id="egreso_inventario" class="section" >
    <div class="container" style="padding-bottom: 60px">
      <div class="row">
        <!--<form class="col s12 m12 l12 ">-->
        <div class="card-panel hoverable card-action white">
          <div class="card-content black-text">
            <span class="card-title">Salida de Inventario</span>
            <div style="padding-top: 15px"></div>
            <div class="row">
              <div class="col s12 m6 l6">
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="inventarioSalida.tipo">
                    <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
                  </select>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_codigo" type="text" class="validate" minlength="10" maxlength="10" pattern = "[0-9]*" [(ngModel)]="inventarioSalida.codigo" >
                  <label for="icon_codigo">Código</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_descripcion" type="text" class="validate" minlength="5" maxlength="30" [(ngModel)]="inventarioSalida.nombre">
                  <label for="icon_descripcion">Nombre</label>
                </div>
              </div>
              <div class="col s12 m6 l6">
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="inventarioSalida.estado">
                    <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
                  </select>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_descripcion" type="text" class="validate" minlength="5" maxlength="30" >
                  <label for="icon_descripcion">Detalle</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_cantidad" type="tel" class="validate"  minlength="1" maxlength="2" pattern = "[0-9]*" [(ngModel)]="inventarioSalida.cantidad">
                  <label for="icon_cantidad">Cantidad</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-action">
            <a  (click)="salida()" class="btn waves-effect waves-light center"  style="font-size: 17px">Aceptar
              <i class="material-icons right">send</i>
            </a>
          </div>
        </div>
        <!--</form>-->
      </div>
    </div>
  </div>
  <!--boton para cancelar-->
  <div class="section">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
</div>
