

<nav class="light-blue darken-4" >
  <div class="nav-wrapper navbar-fixed" >
    <a href="#" (click)="openMenu()"data-activates="nav-mobile" class="button-collapse show-on-large left"><i class="material-icons left">menu</i></a>
    <a href="#!" class="brand-logo">{{title}}</a>
  </div>
</nav>
<!--Tabla de ítems-->
<ion-content>
  <div *ngIf="template=='null'">
    <table  materialize class="centered table centered striped" style="font-size: 15px">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th data-field="id">Código</th>
          <th data-field="nombre">Nombre</th>
          <!--<th data-field="marca">Marca</th>
          <th data-field="modelo">Modelo</th>
          <th data-field="descripcion">Descripción</th>-->
          <th data-field="cantidad">Cantidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let item of items">
          <td>
            <input [checked]="false" (change)="select(item.id)" id="{{item.id}}" type="checkbox" class="filled-in"/>
            <label attr.for="{{item.id}}"></label>
          </td>
          <!--foto del ítem-->
          <td>
            <a materialize="leanModal" [materializeParams]="[{dismissible: true}]" class='modal-trigger' href='#demoModal'><img src="../../../www/src/images/image.png" alt="" class="circle responsive-img "></a>
          </td>
          <td >{{item.codigo}}</td>
          <td>{{item.nombre}}</td>
          <!--<td>{{item.marca}}</td>
          <td>{{item.modelo}}</td>
          <td>{{item.descripcion}}</td>-->
          <td>{{item.cantidad}}</td>
          <td>
            <a class="button-collapse" (click)="goModificar(item.id)"><i class="material-icons left">mode_edit</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>

<!--MODAL QUE EXPANDE FOTO AL TOCAR
<!--Modal Structure-->
<div materialize id="demoModal" class=" modal modal-fixed-footer" >
  <div class="modal-content" >
    <div class="row">
      <div class="col s12 m7 l7">
        <img id="img" class="materalboxed" style="margin:0 auto;"  src="http://upload.wikimedia.org/wikipedia/commons/3/33/Resistencia_electrica.jpg">
      </div>
    </div>
  </div>
</div>
<style>
#demoModal{
  width:400px;
  height:400px;
}
#img{
  width:800;
  margin:0 auto;
}
</style>
<!--Botón flotante para eliminar y agregar nuevo ítem-->
<div *ngIf="template=='null'">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large orange darken-1">
      <i class="large material-icons">settings</i>
    </a>
    <ul>
      <li><a (click)="eliminar()" class="btn-floating red"><i class="material-icons">delete</i></a></li>
      <li><a (click)="goCrearItem()" class="btn-floating blue"><i class="material-icons">add</i></a></li>
    </ul>
  </div>
</div>
<!--Layout para crear un nuevo ítem-->
<div *ngIf="template=='crear'" style="overflow: scroll;">
  <div id="nuevo_item" class="section">
    <div class="container" style="padding-top: 90px">
      <div class="row">
        <div class="card-panel hoverable card-action white">
          <div class="card-content black-text">
            <span class="card-title " style="font-size: 30px">Nuevo Ítem</span>
            <!--Botón para subir foto-->
            <div class="row">
              <div class="col l3 m3 s12 offset-l9 offset-m9">
                <form action="#">
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>Foto</span>
                      <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" [(ngModel)]="itemNuevo.image">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--campos de texto codigo , nombre, descripción, marca, modelo, cantidad-->
            <div class="row">
              <div class="col s12 m6 l6">
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_codigo" type="text" class="validate" minlength="10" maxlength="10" pattern = "[0-9]*" [(ngModel)]="itemNuevo.codigo" >
                  <label for="icon_codigo"> *  Código</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_nombre" type="text" class="validate" minlength="2" maxlength="15" pattern = "[a-zA-Z]*" [(ngModel)]="itemNuevo.nombre">
                  <label for="icon_nombre"> *  Nombre</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_descripcion" type="text" class="validate" minlength="5" maxlength="30"  [(ngModel)]="itemNuevo.descripcion">
                  <label for="icon_descripcion"> *  Descripción</label>
                </div>
              </div>
              <div class="col s12 m6 l6">
                <div class="input-field ">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_marca" type="tel" class="validate"  minlength="5" maxlength="10"  [(ngModel)]="itemNuevo.marca" >
                  <label for="icon_marca">   Marca</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_modelo" type="tel" class="validate"  minlength="5" maxlength="10"  [(ngModel)]="itemNuevo.modelo">
                  <label for="icon_modelo">   Modelo</label>
                </div>
                <div class="row">
                  <div class="col l5 m5 s12">
                    <div class="input-field">
                      <i class="material-icons prefix">label_outline</i>
                      <input id="icon_cantidad" type="tel" class="validate"  minlength="1" maxlength="2" pattern = "[0-9]*" [(ngModel)]="itemNuevo.cantidad">
                      <label for="icon_cantidad"> *  Cantidad</label>
                    </div>
                  </div>
                  <div class="col l3 m6 s11 offset-l1 offset-m1 offset-s1">
                    <form action="#">
                      <p>
                        <input type="checkbox" id="test5" [(ngModel)]="itemNuevo.esDispositivo" />
                        <label for="test5">Dispositivo</label>
                      </p>
                    </form>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <div class="card-action">
            <a (click)="crear()" class="btn waves-effect waves-light center"  style="font-size: 17px">Crear
              <i class="material-icons right">send</i>
            </a>
            <h6>(*) Campos obligatorios</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
</div>


<div *ngIf="template=='modificar'" style="overflow: scroll;">
  <!--modificar item-->
  <div id="modificar_item" class="section" >
    <div class="container" style="padding-top: 90px">
      <div class="row">
        <div class="card-panel hoverable card-action white">
          <div class="card-content black-text">
            <span class="card-title" style="font-size: 30px">Modificar Ítem</span>
            <div style="padding-top: 18px"></div> <!--para separar el titulo de los inputs"-->
            <!--Botón para subir foto-->
            <div class="row">
              <div class="col l3 m3 s12 offset-l9 offset-m9">
                <form action="#">
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>Foto</span>
                      <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" [(ngModel)]="itemModificar.image">
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="col s12 m6 l6">
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_codigo" type="text" class="validate" minlength="10" maxlength="10" pattern = "[0-9]*" [(ngModel)]="itemModificar.codigo" >
                  <label for="icon_codigo" class="active"> *  Código</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_nombre" type="text" class="validate" minlength="2" maxlength="15" pattern = "[a-zA-Z]*" [(ngModel)]="itemModificar.nombre">
                  <label for="icon_nombre" class="active"> * Nombre</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_descripcion" type="text" class="validate" minlength="5" maxlength="30"  [(ngModel)]="itemModificar.descripcion">
                  <label for="icon_descripcion" class="active"> *  Descripción</label>
                </div>
              </div>
              <div class="col s12 m6 l6">
                <div class="input-field ">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_marca" type="tel" class="validate"  minlength="5" maxlength="10"  [(ngModel)]="itemModificar.marca" >
                  <label for="icon_marca" class="active">Marca</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_modelo" type="tel" class="validate"  minlength="5" maxlength="10"  [(ngModel)]="itemModificar.modelo">
                  <label for="icon_modelo" class="active">Modelo</label>
                </div>
                <div class="row">
                  <div class="col l6 m6 s12">
                    <div class="input-field">
                      <i class="material-icons prefix">label_outline</i>
                      <input id="icon_cantidad" type="tel" class="validate"  minlength="1" maxlength="2" pattern = "[0-9]*" [(ngModel)]="itemModificar.cantidad">
                      <label for="icon_cantidad" class="active"> *  Cantidad</label>
                    </div>
                  </div>
                  <div class="col l6 m6 s11 offset-s1">
                    <form action="#">
                      <p>
                        <input type="checkbox" id="test01" [(ngModel)]="itemModificar.esDispositivo"/>
                        <label for="test01">Dispositivo</label>
                      </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-action">
            <a (click)="modificar()" class="btn waves-effect waves-light center"  style="font-size: 17px">Guardar
              <i class="material-icons right">send</i>
            </a>
            <h6>(*) Campos obligatorios</h6>
          </div>
        </div>
        <!--</form>-->
      </div>
    </div>
  </div>
  <!--boton para cancelar-->
  <div class="section">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
</div>
