
<nav class="light-blue darken-4" >
  <div class="nav-wrapper navbar-fixed" >
    <a href="#" (click)="openMenu()"data-activates="nav-mobile" class="button-collapse show-on-large left"><i class="material-icons left">menu</i></a>
    <a href="#!" class="brand-logo">{{title}}</a>
  </div>
</nav>

<!--Tabla de kits-->
<ion-content>
  <div *ngIf="template=='null'">
    <!--Búsqueda por codigo o nombre-->
    <div class="row">
      <div class="col l1 m2 s4 offset-l9 offset-m7 " >
        <div class="input-field">
          <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="busqueda.tipo">
            <option *ngFor="let tiposBusqueda of tiposBusquedas" [value]="tiposBusqueda" >{{tiposBusqueda}}</option>
          </select>
        </div>
      </div>
      <div class="col l2 m3 s8">
        <div class="input-field">
          <input (keyup)="buscar()" type="text" id="identificacion"  [(ngModel)]="busqueda.valor">
          <label class="black-text active" for="identificacion" >Búsqueda</label>
        </div>
      </div>
    </div>
    <table  materialize class="centered table centered striped" style="font-size: 15px">
      <thead>
        <tr>
          <th></th>
          <th data-field="id">Código</th>
          <th data-field="nombre">Nombre</th>
          <th data-field="cantidad">Cantidad</th>
          <th data-field="disponible">Disponible</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let kit of kits">
          <td>
            <input (change)="select(kit)" id={{kit.Codigo}} type="checkbox" class="filled-in"/>
            <label attr.for="{{kit.Codigo}}"></label>
          </td>
          <td >{{kit.Codigo}}</td>
          <td>{{kit.Nombre}}</td>
          <td>{{kit.Stock}}</td>
          <td>{{kit.Stock_Disponible}}</td>
          <td>
            <a class="button-collapse" (click)="goModificar(kit)"><i class="material-icons left">visibility</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>


<!--Boton flotante de opciones add, edit, delete-->
<!-- if de angular, valida si se debe mostrar o no segun la variable template -->

<div *ngIf="template=='null'">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large orange darken-1">
      <i class="large material-icons">settings</i>
    </a>
    <ul>
      <li><a (click)="eliminar()" class="btn-floating red"><i class="material-icons">delete</i></a></li>
      <li><a (click)="goCrearKit()" class="btn-floating blue"><i class="material-icons">add</i></a></li>
    </ul>
  </div>
</div>


<!--crear kit-->
<div *ngIf="template=='crear'" style="overflow: scroll;">
  <div id="nuevo_kit" class="section">
    <div>
      <!--primer panel-->
      <div class="row ">
        <div class="col l5 m7 s12">
          <div class="card-panel blue-grey lighten-5 ">
            <span class="card-title">Nuevo Kit</span>
            <div style="padding-top: 7%;"></div>
            <div class="row">
              <div>
                <!--primera columna-->
              <div class="col l6 m6 s12">
                <div class="input-field ">
                  <i class="material-icons prefix" style="color:#9e9e9e">keyboard_arrow_right</i>
                  <input id="icon_codigo" type="text" class="validate" minlength="10" maxlength="10" pattern = "[0-9]*"  [(ngModel)]="kitNuevo.Codigo" >
                  <label for="icon_codigo"> *  Código</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix" style="color:#9e9e9e">keyboard_arrow_right</i>
                  <input id="CodigoEspol" type="text" class="validate" minlength="10" maxlength="10" pattern = "[0-9]*" [(ngModel)]="kitNuevo.Nombre" >
                  <label for="CodigoEspol">Código Espol</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix" style="color:#9e9e9e">keyboard_arrow_right</i>
                  <input id="CodigoSenecyt" type="text" class="validate" minlength="10" maxlength="10" pattern = "[0-9]*" >
                  <label for="CodigoSenecyt">Código Senecyt</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix" style="color:#9e9e9e" >keyboard_arrow_right</i>
                  <input id="icon_nombre" type="text" class="validate" minlength="2" maxlength="15" pattern = "[a-zA-Z]*"  >
                  <label for="icon_nombre"> *  Nombre</label>
                </div>
              </div>
              <!--segunda columna-->
              <div class="col l6 m6 s12">
                <div class="input-field">
                  <i class="material-icons prefix" style="color:#9e9e9e" >keyboard_arrow_right</i>
                  <input id="icon_modelo" type="text" class="validate"  minlength="5" maxlength="10" [(ngModel)]="kitNuevo.Modelo">
                  <label for="icon_modelo">Modelo</label>
                </div>
                <div class="input-field ">
                  <i class="material-icons prefix" style="color:#9e9e9e">keyboard_arrow_right</i>
                  <input id="icon_marca" type="text" class="validate"  minlength="5" maxlength="10" [(ngModel)]="kitNuevo.Marca">
                  <label for="icon_marca">Marca</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix" style="color:#9e9e9e">keyboard_arrow_right</i>
                  <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="kitNuevo.Descripcion"></textarea>
                  <label for="textarea1"> *  Descripción</label>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <!--segundo panel-->
        <div class="col l4 m5 s12 ">
          <div class="card-panel blue-grey lighten-5 ">
            <span class="card-title">Buscar Ítems</span>
            <div style="padding-top: 7%;"></div>
            <div class="input-field ">
              <i class="material-icons prefix">search</i>
              <input id="icon_marca" type="text" class="validate"  minlength="5" maxlength="10" >
              <label for="icon_marca">Búsqueda</label>
            </div>
            <div class="center">
              <label id="buscar" style="font-size: 16px">NOMBRE ÍTEM</label>
              <a class="btn-floating btn-small waves-effect waves-light green right">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
        <!--tercer panel-->
        <div class="col l3 m6 s12  ">
          <div class="card-panel blue-grey lighten-5 ">
            <span class="card-title">Ítems</span>
            <div style="padding-top: 7%;"></div>
            <div >
              <div class="card-content grey-text" style="font-size: 15px">
                <div><a class="btn-floating btn-small waves-effect waves-light red right">
                  <i class="material-icons">clear</i>
                </a></div>
                <li >Resistencia 100 </li>
              </div>
            </div>
          </div>
          <div class="card-action">
            <a (click)="crear()" class="btn waves-effect waves-light center"  style="font-size: 17px">Guardar
              <i class="material-icons right">send</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
</div>


<!--modificar kit-->
<div *ngIf="template=='modificar'" style="overflow: scroll;">
  <div id="modificar_kit" class="section" >
    <div class="container" style="padding-top: 50px">
      <div class="row">
        <!--<form class="col s12 m12 l12 ">-->
        <div class="card-panel hoverable card-action white">
          <div class="card-content black-text">
            <span class="card-title">Modificar Kit</span>
            <div class="row">
              <hr>
              <div class="col s12 m6 l6">
                <!--primera columna-->
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_codigo" type="text" class="validate" minlength="10" maxlength="10" pattern = "[0-9]*" [(ngModel)]="kitModificar.Codigo" disabled>
                  <label for="icon_codigo" class="active">Código</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_nombre" type="text" class="validate" minlength="2" maxlength="15" pattern = "[a-zA-Z]*" [(ngModel)]="kitModificar.Nombre" >
                  <label for="icon_nombre" class="active">Nombre</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_nombre" type="text" class="validate" minlength="2" maxlength="15" pattern = "[a-zA-Z]*" [(ngModel)]="kitModificar.Descripcion"><!--[(ngModel)]="selectedItem.descripcion">-->
                  <label for="icon_descripcion" class="active">Descripción</label>
                </div>
              </div>
              <div class="col s12 m6 l6">
                <!--segunda columna-->
                <div class="input-field ">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_nombre" type="text" class="validate" minlength="2" maxlength="15"  [(ngModel)]="kitModificar.Marca">
                  <label for="icon_marca" class="active">Marca</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">label_outline</i>
                  <input id="icon_nombre" type="text" class="validate" minlength="2" maxlength="15"  [(ngModel)]="kitModificar.Modelo">
                  <label for="icon_modelo" class="active">Modelo</label>
                </div>
                <!--<div class="input-field">
                <i class="material-icons prefix">label_outline</i>
                <input id="icon_observaciones" type="tel" class="validate" >
                <label for="icon_observaciones">Observaciones</label>
              </div>-->
            </div>
            <div class="col s12">
              <!--Tabla de ítems-->
              <!--<table class="bordered highlight responsive-table">-->

            </div>
          </div>
        </div>
        <div class="card-action">
          <a (click)="modificar()" class="btn waves-effect waves-light center"  style="font-size: 17px">Guardar
            <i class="material-icons right">send</i>
          </a>
        </div>
      </div>
      <!--</form>-->
    </div>
  </div>
</div>
<!--boton para cancelar-->
<div class="section">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
      <i class="material-icons">clear</i>
    </a>
  </div>
</div>
</div>
