<div class="navbar-header">
  <a class="navbar-brand" href="#">Auth0 - Angular 2</a>
  <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
  <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
</div>

<ion-menu [content]="content">
  <ion-content >
    <ion-list>
      <button class=" waves-effect waves-teal" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <li style="font-size: 90%" class="bold"><i class="material-icons left">{{p.icon}}</i>{{p.title}}</li>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
