
<!-- Menu principal -->
<nav  class="light-blue darken-4">
  <div class="nav-wrapper navbar-fixed ">
    <a href="#" (click)="openMenu()"data-activates="nav-mobile" class="button-collapse show-on-large left"><i class="material-icons">menu</i></a>
    <a href="#!" class="brand-logo">{{title}}</a>
  </div>
</nav>

<!--tabla de personas-->

<ion-content>
<div *ngIf="template=='null'">
  <!--Búsqueda por codigo o nombre-->
  <div class="row">
    <div class="col l1 m2 s4 offset-l9 offset-m7 " >
      <div class="input-field">
        <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="busqueda.tipo">
          <option *ngFor="let tiposBusqueda of tiposBusquedas" [value]="tiposBusqueda" >{{tiposBusqueda}}</option>
        </select>
      </div>
    </div>
    <div class="col l2 m3 s8">
      <div class="input-field">
        <input (keyup)="buscar()" type="text" id="identificacion"  [(ngModel)]="busqueda.valor">
        <label class="black-text active" for="identificacion">Búsqueda</label>
      </div>
    </div>
  </div>
  <table materialize class="centered table centered striped" style="font-size: 15px">
    <thead>
      <tr>
        <th data-field="Nombre">Nombre</th>

        <th data-field="Ítem_Nombre">Ítem</th>
        <th data-field="Cantidad">cantidad</th>
        <th data-field="fecha_prestamo">fecha ini.</th>
        <th data-field="fecha_devuelto">fecha fin.</th>
        <th data-field="devuelto">devuelto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let prestamo of prestamos">
        <td *ngFor ="let persona of prestamo.personas">{{persona.nombre}} {{persona.apellido}}</td>
        <td *ngFor ="let item of prestamo.items">{{item.nombre}}</td>
        <td>{{prestamo.cantidad}}</td>
        <td>{{prestamo.fecha_prestamo}}</td>
        <td>{{prestamo.fecha_fin}}</td>
        <td>{{prestamo.devuelto}}</td>
        <td>
          <a class="button-collapse"><i class="material-icons left">mode_edit</i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</ion-content>

<!--Botones-->
<div *ngIf="template=='null'">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large orange darken-1">
      <i class="large material-icons">settings</i>
    </a>
    <ul>
      <li><a (click)="eliminar()" class="btn-floating red"><i class="material-icons">delete</i></a></li>
      <li><a (click)="goNuevoPrestamo()" class="btn-floating blue"><i class="material-icons">add</i></a></li>
    </ul>
  </div>
</div>

  <!--Layout de nuevo préstamo-->
  <!--Layout de nuevo préstamo-->

  <div *ngIf="template=='nuevo_prestamo'" style="overflow: scroll;" >
    <!--nuevo user-->
    <div materialize id="nuevo_prestamo" class="section">
      <div>
        <div class="row">

          <div class="col s12 m6 l4" style="position: relative; left:5%">
            <div class="card blue-grey lighten-5 ">
              <div class="card-panel teal lighten-2 black-text ">Persona</div>
              <div class="card-content black-text">
                <!--<span class="card-title ">Persona</span>-->
                <div class="row">
                  <div class="col l12 m12 s12">
                    <div class="input-field">
                      <i class="material-icons prefix">account_box</i>
                      <select materialize="material_select" [materializeSelectOptions]="selectOptions">
                        <option *ngFor="let tiposIdentificacion of tiposIdentificaciones" [value]="tiposIdentificacion">{{tiposIdentificacion}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col l9 m9 s8">
                    <div class="input-field">
                      <i class="material-icons prefix">account_box</i>
                      <input type="text" id="identificacion">
                      <label class="black-text" for="identificacion" class="active">Identificación</label>
                    </div>
                  </div>
                  <div class="col l3 m3 s3" style="padding-top: 22px">
                    <a class="waves-effect waves-light btn"><i class="material-icons right ">search</i></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col l11 s11 m11 offset-l1 offset-m1 offset-s1">
                    <label style="font-size: 20px" >nombre persona - existe</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a href = "#" (click)="goCrearPersona()">Crear nueva persona</a>
            </div>
          </div>

          <!--Segundo panel para préstamos-->

          <div class="col s12 l4 m6 " style="position: relative; left:5%">
            <div class="card blue-grey lighten-5 "> <!--blue-grey darken-1-->
              <div class="card-panel teal lighten-2">Préstamo</div>
              <div class="card-content black-text">
                <!--<span class="card-title">Préstamo</span>-->
                <div class="row">
                  <div class="col l12 m12 12 ">

                    <div class="input-field">
                      <i class="material-icons prefix">keyboard_arrow_right</i>
                      <select materialize="material_select" [materializeSelectOptions]="selectOptions">
                        <option *ngFor="let tiposBusqueda of tiposBusquedas" [value]="tiposBusqueda">{{tiposBusqueda}}</option>
                      </select>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col l9 m9 s8 ">
                    <div class="input-field">
                      <i class="material-icons prefix">keyboard_arrow_right</i>
                      <input class="black-text"  id="busqueda" type="text">
                      <label class="black-text" for="busqueda" class="active">Búsqueda</label>
                    </div>
                  </div>
                  <div class="col l3 m3 s3" style="padding-top: 22px">
                    <a class="waves-effect waves-light btn"><i class="material-icons right">search</i></a>
                  </div>
                </div>
                <div class="row">
                  <!--<div class="col l11 s11 m11 offset-l1 offset-m1 offset-s1">-->
                  <div class="col l6 s11 m6 offset-l1 offset-m1 offset-s1">
                    <label style="font-size: 15px">Kit Arduino disponible 10 unidades</label>
                  </div>
                <!--</div>
                <div class="row ">-->
                  <!--<div class="col l12 m12 s12">-->
                  <div class="col l5 m5 s12">
                    <div class="input-field">

                      <input class="black-text"  id="cantidad" type="text">
                      <label class="black-text" for="cantidad" class="active">Cantidad</label>
                    </div>
                  </div>
                </div>
                <div class="row ">
                  <div materialize class="col s6 m4 l5 offset-l1 offset-m1">
                    <div class="input-field">
                      <label for="fecha_desde" class="active">desde</label>
                      <input  id="fecha_desde" type="date" class="datepicker" style="padding-top: 16px">
                      <script>
                      new Datepicker('.datepicker');
                      </script>
                    </div>
                  </div>
                  <div materialize class="col s6 m4 l5 offset-m1 offset-l1">
                    <div class="input-field">
                      <label for="fecha_hasta" class="active" >hasta</label>
                      <input id="fecha_hasta" type="date" class="datepicker" style="padding-top: 16px">
                      <script>
                      new Datepicker('.datepicker');
                      </script>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-action">
                <a class="waves-effect waves-light btn ">Prestar</a>
              </div>
            </div>
          </div>
          <!--panel 3> Tabla de prestamos-->
          <div class="col s12 m6 l3 " style="font-size: 15px; position: relative; left:5%">
            <div class="card blue-grey lighten-5 ">
              <div class="card-content grey-text ">
                <ul *ngFor = "let prestamo of prestamos">
                  <li><a class="button-collapse "><i class="material-icons right" style="color:	#e57373  ">remove_circle</i></a></li>
                  <li *ngFor ="let item of prestamo.items">{{item.nombre}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--boton para cancelar-->
    <div *ngIf="template=='nuevo_prestamo'" class="section">
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
          <i class="material-icons">clear</i>
        </a>
      </div>
    </div>
  </div>
