<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>crear item</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <div class=" container"> <!--sacar estos dos para panel mas ancho (panel negro)-->
    <div class=" section"> <!--sacar estos dos para panel mas ancho-->
      <div class=" container">
        <div class="row">
          <form class="col s12 m6 l12 offset-m3">
            <div class="card blue-grey darken-4">
              <div class="card-content white-text">
                <span class="card-title">Nuevo Ítem</span>
                <div class="row">
                  <div class="input-field col l6">
                    <i class="material-icons prefix">label</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Código</label>
                  </div>
                  <div class="input-field col l6">
                    <i class="material-icons prefix">label</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Nombre</label>
                  </div>
                  <div class="input-field col l6">
                    <i class="material-icons prefix">label</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Marca</label>
                  </div>
                  <div class="input-field col l6">
                    <i class="material-icons prefix">label</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Modelo</label>
                  </div>
                  <div class="input-field col l6">
                    <i class="material-icons prefix ">description</i>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <label for="icon_prefix2">Descripción</label>
                  </div>
                  <div class="col l6 center">
                  </br>
                  <form action="#" >
                    <h6>¿Tiene Serie?</h6>
                    <input type="checkbox" class="filled-in" id="filled-in-box" />
                    <label for="filled-in-box">Si</label>
                  </form>
                </div>
              </div>
            </div>
            <div class="card-panel hoverable card-action grey lighten-2">
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>

</body>
</html>
