<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <div id ="item" class = "container">
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th data-field="seleccionarTodos" class="center-align">
            <input type="checkbox" class="filled-in checkbox-blue" id="chbSeleccionarTodos" >
    <label for="chbSeleccionarTodos"></label>
  </th>
          <th data-field="id">Codigo</th>
          <th data-field="nombre">Nombre</th>
          <th data-field="clasificacion">Clasificación</th>
          <th data-field="marca">Marca</th>
          <th data-field="modelo">Modelo</th>
          <th data-field="cantidad">Cantidad-Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="center-align" id="checkboxes">
            <input type="checkbox" class="filled-in checkbox-blue" id="chbItem1"  />
          <label for="chbItem1"></label>
          </td>
          <td>COD001</td>
          <td>Item 1</td>
          <td>Resistencia </td>
          <td>Marca 1</td>
          <td>Modelo 1</td>
          <td class="center-align">200</td>
        </tr>
        <tr>
          <td class="center-align" id="checkboxes">
            <input type="checkbox" class="filled-in checkbox-blue" id="chbItem2"  />
          <label for="chbItem2"></label>
          </td>
          <td>COD002</td>
          <td>Item 2</td>
          <td>Capacitores</td>
          <td>Marca 1</td>
          <td>Modelo 2</td>
          <td class="center-align">180</td>
        </tr>
        <tr>
          <td class="center-align" id="checkboxes">
            <input type="checkbox" class="filled-in checkbox-blue" id="chbItem3"  />
          <label for="chbItem3"></label>
          </td>
          <td>COD003</td>
          <td>Item 3</td>
          <td>Resistencia </td>
          <td>Marca 2</td>
          <td>Modelo 1</td>
          <td class="center-align">50</td>
        </tr>
        <tr>
          <td class="center-align" id="checkboxes">
            <input type="checkbox" class="filled-in checkbox-blue" id="chbItem4"  />
          <label for="chbItem4"></label>
          </td>
          <td>COD004</td>
          <td>Item 4</td>
          <td>Resistencia </td>
          <td>Marca 1</td>
          <td>Modelo 3</td>
          <td class="center-align">166</td>
        </tr>
        <tr>
          <td class="center-align" id="checkboxes">
            <input type="checkbox" class="filled-in checkbox-blue" id="chbItem5"  />
          <label for="chbItem5"></label>
          </td>
          <td>COD005</td>
          <td>Item 5</td>
          <td>Capacitor</td>
          <td>Marca 1</td>
          <td>Modelo 4</td>
          <td class="center-align">80</td>
        </tr>

      </tbody>
    </table>


  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>


</body>
</html>
