<!--
  Generated template for the ReportesPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<nav class="light-blue darken-4" >
  <div class="nav-wrapper navbar-fixed" >
    <a href="#" (click)="openMenu()"data-activates="nav-mobile" class="button-collapse show-on-large left"><i class="material-icons left">menu</i></a>
    <a href="#!" class="brand-logo">{{title}}</a>
  </div>
</nav>


<ion-content>
  <div *ngIf="template=='null'">
    <!--Búsqueda por codigo o nombre-->
    <div class="row">
      <div class="col l1 m2 s4 offset-l9 offset-m7 " >
        <div class="input-field">
          <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="fechaInicial.tipo">
            <option *ngFor="let tiposReporte of tiposReportes" [value]="tiposReporte" >{{tiposReporte}}</option>
          </select>
        </div>
      </div>
      <div class="col l2 m3 s8">
        <div class="input-field">
          <input (keyup)="buscar()" type="text" id="fecha"  [(ngModel)]="fechaInicial.valor">
          <label class="black-text active" for="fecha">Búsqueda</label>
        </div>
      </div>
    </div>
    <!--Tabla de items-->
    <table  materialize class="centered table centered striped" style="font-size: 15px">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th data-field="id">Código</th>
          <th data-field="nombre">Nombre</th>
          <!--<th data-field="marca">Marca</th>
          <th data-field="modelo">Modelo</th>
          <th data-field="descripcion">Descripción</th>-->
          <th data-field="cantidad">Cantidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let item of items">
          <td>
            <input [checked]="false" (change)="select(item.id)" id="{{item.id}}" type="checkbox" class="filled-in"/>
            <label attr.for="{{item.id}}"></label>
          </td>
          <!--foto del ítem-->
          <td>
            <a materialize="leanModal" [materializeParams]="[{dismissible: true}]" class='modal-trigger' href='#demoModal'><img src="../../../www/src/images/image.png" alt="" class="circle responsive-img "></a>
          </td>
          <td >{{item.codigo}}</td>
          <td>{{item.nombre}}</td>
          <!--<td>{{item.marca}}</td>
          <td>{{item.modelo}}</td>
          <td>{{item.descripcion}}</td>-->
          <td>{{item.cantidad}}</td>
          <td>
            <a class="button-collapse" (click)="goModificar(item.id)"><i class="material-icons left">mode_edit</i></a>
          </td>
        </tr>
      </tbody>
    </table>
