
<!-- Menu principal -->
<nav  class="light-blue darken-4">
  <div class="nav-wrapper navbar-fixed ">
    <a href="#" (click)="openMenu()"data-activates="nav-mobile" class="button-collapse show-on-large left"><i class="material-icons">menu</i></a>
    <a href="#!" class="brand-logo">{{title}}</a>
  </div>
</nav>

<!--tabla de personas-->
<ion-content>
  <div *ngIf="template=='null'">
    <!--Búsqueda por cedula o nombre-->
    <div class="row">
      <!--Nueva Búsqueda  dejando solo el input-->
      <div class="col l3 m4 s12 offset-l9 offset-m8">
        <div class="input-field">
          <i class="material-icons prefix" style="color:#009688">search</i>
          <input (keyup)="buscar()" type="text" id="identificacion" minlength="0" maxlength="20" [(ngModel)]="busqueda.valor">
          <label class="black-text active" for="identificacion">Búsqueda</label>
        </div>
      </div>
    </div>
    <table materialize class="centered table centered striped" style="font-size: 15px">
      <thead>
        <tr>
          <th ></th>
          <th data-field="id">Identificación</th>
          <th data-field="nombre">Nombre</th>
          <th data-field="apellido">Apellido</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- angular 2 for -->
        <tr *ngFor="let persona of personas">
          <td>
            <!-- evento change y atributo por defecto checked false, se agrega como id el id de la persona
            para luego saber que checkbox le pertenece a cada persona-->
            <input   (change)="select(persona)" id={{persona.url}} type="checkbox" class="filled-in"/>
            <label  attr.for="{{persona.url}}"></label>
          </td>
          <td>{{persona.CI}}</td>
          <td>{{persona.Nombre}}</td>
          <td>{{persona.Apellido}}</td>
          <td>
            <a class="button-collapse" (click)="goModificar(persona)"><i  style="cursor: pointer" class="material-icons left">description</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
<!--Boton flotante de opciones add, edit, delete-->
<!-- if de angular, valida si se debe mostrar o no segun la variable template -->
<div *ngIf="template=='null'">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large orange darken-1">
      <i class="large material-icons">settings</i>
    </a>
    <ul>
      <li><a (click)="eliminar()" class="btn-floating red"><i class="material-icons">delete</i></a></li>
      <li><a (click)="goCrearPersona()" class="btn-floating blue"><i class="material-icons">add</i></a></li>
    </ul>
  </div>
</div>


<div *ngIf="template=='crear'" style="overflow: scroll;">
  <!--nueva persona-->
  <div id="nuevo_persona" class="section">
    <!--<div class="container" style="padding-top: 50px">-->
    <div class="container">
      <div class="row">
        <!--<form class="col s12 m12 l12 ">-->
        <div class="card-panel blue-grey lighten-5">
          <div class="row">
            <div class="col l8 s12 m8">
              <span>Nueva Persona</span>
            </div>
            <div class="col l4 s12 m4 grey lighten-2" style="font-size: 13px">
              <div class="row">
                <div class="col l2 m3 s2 center">
                  <span style="color:red">(*)</span>
                </div>
                <div class="col l6 m7 s6">
                  <span>Campos obligatorios</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-top: 10px">
            <div class="col s12 m6 l6">
              <!--primera columna-->
              <div class="row">
                <div class="input-field col l11 m11 s11">
                  <i class="material-icons prefix" style="color:#009688">label_outline</i>
                  <input id="cedula" type="text" class="validate" minlength="10" maxlength="10" pattern = "[0-9]*" [(ngModel)]="personaNueva.CI">
                  <label for="cedula" data-error="C.I. vacío o Incorrecto">Cédula</label>
                </div>
                <div class="col l1 m1 s1">
                  <h6 id="obligatorio" style="color:red; padding-top: 40px">*</h6>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l11 m11 s11">
                  <i class="material-icons prefix" style="color:#009688">account_box</i>
                  <input id="nombre" type="text" class="validate"  minlength="2" maxlength="30" pattern = "[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+"[(ngModel)]="personaNueva.Nombre">
                  <label for="nombre" data-error="Nombre vacío o Incorrecto">Nombre</label>
                </div>
                <div class="col l1 m1 s1">
                  <h6 id="obligatorio" style="color:red; padding-top: 40px">*</h6>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l11 m11 s11">
                  <i class="material-icons prefix" style="color:#009688">account_box</i>
                  <input id="apellido" type="text" class="validate" minlength="2" maxlength="30" pattern = "[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+" [(ngModel)]="personaNueva.Apellido">
                  <label for="apellido" data-error="Apellido vacío o Incorrecto">Apellido</label>
                </div>
                <div class="col l1 m1 s1">
                  <h6 id="obligatorio" style="color:red; padding-top: 40px">*</h6>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l11 m11 s11">
                  <i class="material-icons prefix" style="color:#009688">my_location</i>
                  <input id="direccion" type="text" class="validate" minlength="2" maxlength="50" pattern = "[a-zA-ZñÑáéíóúÁÉÍÓÚ\s0-9 ]*" [(ngModel)]="personaNueva.Direccion">
                  <label for="direccion" data-error="Dirección vacía">Dirección</label>
                </div>
                <div class="col l1 m1 s1">
                  <h6 id="obligatorio" style="color:red; padding-top: 40px">*</h6>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l6">
              <!--segunda columna-->
              <div class="row">
                <div class="input-field col l11 m11 s11">
                  <i class="material-icons prefix" style="color:#009688">credit_card</i>
                  <input id="matricula" type="text" class="validate" minlength="9" maxlength="9" pattern = "[0-9]*" [(ngModel)]="personaNueva.Matricula">
                  <label for="matricula" data-error="Matricula vacía o Incorrecta">Matrícula</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l11 m11 s11">
                  <i class="material-icons prefix" style="color:#009688">email</i>
                  <input id="correo" type="email" class="validate" maxlength="50"  [(ngModel)]="personaNueva.Email">
                  <label for="correo" data-error="Formato E-mail Incorrecto">Correo</label>
                </div>
                <div class="col l1 m1 s1">
                  <h6 id="obligatorio" style="color:red;padding-top: 40px">*</h6>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l11 m11 s11">
                  <i class="material-icons prefix" style="color:#009688">call</i>
                  <input onclick="Materialize.toast('Formato: 0999999999 - 2999999 - 042999999', 5000)" id="telefono" type="text" class="validate" minlength="7" maxlength="10" pattern = "[0-9]*" [(ngModel)]="personaNueva.Telefono">
                  <label for="telefono" data-error="Formato Teléfono Incorrecto">Teléfono</label>
                </div>
                <div class="col l1 m1 s1">
                  <h6 id="obligatorio" style="color:red; padding-top: 40px">*</h6>
                </div>
              </div>
              <div class="input-field col l11 m11 s11">
                <i class="material-icons prefix" style="color:#009688">label_outline</i>
                <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="personaNueva.Genero">
                  <option *ngFor="let Genero of Generos" [value]="Genero">{{Genero}}</option>
                </select>
              </div>
              <div class="input-field col l11 m11 s11">
                <i class="material-icons prefix" style="color:#009688">supervisor_account</i>
                <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="personaNueva.Tipo">
                  <option *ngFor="let Tipo of Tipos" [value]="Tipo">{{Tipo}}</option>
                </select>
              </div>
            </div>
            <div class="card-action">
              <a (click)="crear()" class="btn waves-effect waves-light center"  style="font-size: 17px">Crear
                <i class="material-icons right">send</i>
              </a>
            </div>
            <!--<label style="color:black;">(*) campos obligatorios </label>-->
          </div>
          <!--</form>-->
        </div>
      </div>
    </div>
  </div>

  <!--boton para cancelar-->
  <div class="section">
    <div class="fixed-action-btn" style="bottom: 35px; right: 30px;">
      <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
</div>

<div *ngIf="template=='modificar'" style="overflow: scroll;">
  <!--modificar persona-->
  <div id="nuevo_persona" class="section">
    <div class="container" style="padding-top: 50px">
      <div class="row">
        <!--<form class="col s12 m12 l12 ">-->
        <div class="card-panel  blue-grey lighten-5">
          <span class="card-title">Modificar Persona</span>
          <div class="row" style="padding-top: 10px">
            <div class="col s12 m6 l6">
              <!--primera columna-->
              <div class="row">
                <div class="col l10 m10 s10">
                  <div class="input-field">
                    <i class="material-icons prefix">label_outline</i>
                    <input id="icon_cedula" type="tel" class="validate" minlength="10" maxlength="10" pattern = "[0-9]*"  disabled="disabled"  [(ngModel)]="personaModificar.CI">
                    <label for="icon_cedula">Cédula</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col l10 m10 s10">
                  <div class="input-field">
                    <i class="material-icons prefix">account_box</i>
                    <input id="icon_nombre" disabled="disabled" type="text" class="validate" minlength="2" maxlength="30" pattern = "[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*" [(ngModel)]="personaModificar.Nombre">
                    <label for="icon_nombre" data-error="Nombre vacío o Incorrecto">Nombre</label>
                  </div>
                </div>
                <div class="col l2 m2 s2">
                  <a class="button-collapse" onclick="icon_nombre.disabled = false"><i style="padding-top: 40px; cursor: pointer" class="material-icons left">mode_edit</i></a>
                </div>
              </div>
              <div class="row">
                <div class="col l10 m10 s10">
                  <div class="input-field">
                    <i class="material-icons prefix">account_box</i>
                    <input id="icon_apellido" disabled="disabled" type="text" class="validate" minlength="2" maxlength="30" pattern = "[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*" [(ngModel)]="personaModificar.Apellido">
                    <label for="icon_apellido" data-error="Apellido vacío o Incorrecto">Apellido</label>
                  </div>
                </div>
                <div class="col l2 m2 s2">
                  <a class="button-collapse" onclick="icon_apellido.disabled = false"><i  style="padding-top: 40px; cursor: pointer" class="material-icons left">mode_edit</i></a>
                </div>
              </div>
              <div class="row">
                <div class="col l10 m10 s10">
                  <div class="input-field">
                    <i class="material-icons prefix">my_location</i>
                    <input id="icon_direccion" disabled="text" type="tel" class="validate" minlength="2" maxlength="50" pattern = "[a-zA-ZñÑáéíóúÁÉÍÓÚ\s0-9]*" [(ngModel)]="personaModificar.Direccion">
                    <label for="icon_direccion" data-error="Dirección vacía">Dirección</label>
                  </div>
                </div>
                <div class="col l2 m2 s2">
                  <a class="button-collapse" onclick="icon_direccion.disabled = false"><i style="padding-top: 40px; cursor: pointer" class="material-icons left">mode_edit</i></a>
                </div>
              </div>

            </div>
            <!--segunda columna-->
            <div class="col s12 m6 l6">
              <div class="row">
                <div class="col l10 m10 s10">
                  <div class="input-field">
                    <i class="material-icons prefix" style="color:#009688">credit_card</i>
                    <input id="icon_matricula" disabled="disabled" type="text" class="validate" minlength="9" maxlength="9" pattern = "[0-9]*" [(ngModel)]="personaModificar.Matricula">
                    <label for="icon_matricula" data-error="Matricula vacía o Incorrecta">Matrícula</label>
                  </div>
                </div>
                <div class="col l2 m2 s2">
                  <a class="button-collapse" onclick="icon_matricula.disabled = false"><i style="padding-top: 40px; cursor: pointer" class="material-icons left">mode_edit</i></a>
                </div>
              </div>

              <div class="row">
                <div class="col l10 m10 s10">
                  <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input id="icon_correo" disabled="disabled" type="email" class="validate" maxlength="50"  [(ngModel)]="personaModificar.Email">
                    <label for="icon_correo" data-error="Formato E-mail Incorrecto">Email</label>
                  </div>
                </div>
                <div class="col l2 m2 s2">
                  <a class="button-collapse" onclick="icon_correo.disabled = false"><i  style="padding-top: 40px; cursor: pointer" class="material-icons left">mode_edit</i></a>
                </div>
              </div>
              <div class="row">
                <div class="col l10 m10 s10">
                  <div class="input-field">
                    <i class="material-icons prefix">call</i>
                    <input id="icon_telefono" type="tel" disabled="disabled" class="validate" minlength="7" maxlength="10" pattern = "[0-9]*"  [(ngModel)]="personaModificar.Telefono">
                    <label for="icon_telefono" data-error="Teléfono vacío o Incorrecto">Teléfono</label>
                  </div>
                </div>
                <div class="col l2 m2 s2">
                  <a class="button-collapse" onclick="icon_telefono.disabled = false"><i style="padding-top: 40px; cursor: pointer" class="material-icons left">mode_edit</i></a>
                </div>
              </div>
              <div class="row">
                <div class="col l10 m10 s10">
                  <div class="input-field">
                    <i class="material-icons prefix" style="color:#009688">label_outline</i>
                    <select  id="genero" materialize="material_select"  [materializeSelectOptions]="selectOptions"   [(ngModel)]="personaModificar.Genero">
                      <option *ngFor="let Genero of Generos" [value]="Genero">{{Genero}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col l10 m10 s10">
                  <div class="input-field">
                    <i class="material-icons prefix" style="color:#009688">supervisor_account</i>
                    <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="personaModificar.Tipo">
                      <option *ngFor="let Tipo of Tipos" [value]="Tipo">{{Tipo}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12">
            </div>
          </div>
          <div class="card-action">
            <a (click)="modificar()" class="btn waves-effect waves-light center"  style="font-size: 17px">Guardar
              <i class="material-icons right">send</i>
            </a>
          </div>
        </div>
        <!--</form>-->
      </div>
    </div>
  </div>

  <!--boton para cancelar-->
  <div class="section">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a (click)="cancelar()" class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons">clear</i>
      </a>
    </div>
  </div>
</div>
